* { margin: 0; padding: 0; visibility: visible; }

body { font-size: 16px; font-family: monospace !important; white-space: pre !important; padding: 6px 4px; }

div.frame 
{
	display: block;
	margin-left: 40px;
}

div.frame:before 
{
	content: "...";
	margin-left: -40px;
	float: left;
}

div
{
	text-align: left;
	display: inline-block; 
	text-indent: 0;
	transition: color 4s, position 500ms, font 4s, transform 500ms;
}

div.type
{
	display: inline;
	color: #bababa;
	border-color: #bababa;
}

div.part
{
	display: inline;
}

div.flag-focused
{
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
	margin-top: -4px;
	margin-bottom: -4px;
}

.tag
{
	display: inline-block;
	font-size: 0.6em;
}

div.part.flag-vertical
{
	display: block;
}

div.part.flag-vertical > div,
div.flag-vertical > div.part
{
	display: block;
}

div.part.flag-antiprecedent:before { content: "("; }
div.part.flag-antiprecedent:after { content: ")"; }

/* Cursor */
div.cursor
{
	display: inline-block;
	width: 1em;
	text-align: center;
	overflow: visible;
	padding: 0;
	margin-left: -0.45em;
	margin-right: -0.55em;
}

/* Protatom */
div.type-SoloProtoatom,
div.type-WedgeProtoatom,
div.new
{
	color: black;
}

/* Comments */
div.type-CommentHeader > div.operator,
div.type-CommentHeader:after,
div.type-CommentSubHeader > div.operator,
div.type-CommentSubHeader:after,
div.type-CommentSubSubHeader > div.operator,
div.type-CommentSubSubHeader:after,
div.type-CommentSubSubSubHeader > div.operator,
div.type-CommentSubSubSubHeader:after,
div.type-CommentParagraph > div.operator,
div.type-CommentParagraph:after,
div.type-CommentCode > div.operator,
div.type-CommentCode:after
{
	display: none;
}

div.type-CommentHeader,
div.type-CommentSubHeader,
div.type-CommentSubSubHeader,
div.type-CommentSubSubSubHeader,
div.type-CommentParagraph,
div.type-CommentCode
{
	font-family: sans-serif;
	display: inline-block;
	width: 100%;
	font-size: 1em;
}

div.depth-1.type-CommentHeader,
div.depth-2.type-CommentHeader
{
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: 1px solid;
	margin-bottom: 12px;
}

div.depth-1.type-CommentSubHeader,
div.depth-2.type-CommentSubHeader,
div.depth-3.type-CommentHeader
{
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 6px;
}

div.depth-1.type-CommentSubSubHeader,
div.depth-2.type-CommentSubSubHeader,
div.depth-3.type-CommentSubHeader,
div.depth-4.type-CommentHeader
{
	font-size: 1.1em;
}

div.depth-1.type-CommentSubSubSubHeader,
div.depth-2.type-CommentSubSubSubHeader,
div.depth-3.type-CommentSubSubHeader,
div.depth-4.type-CommentSubHeader,
div.depth-5.type-CommentHeader
{
	font-size: 1.05em;
}

/* String */
div.type-String > div.part-Data:after
{
	content: "'"
}

/* Element */
div.type-Element:not(.new),
div.type-Element > div.part > div.type-String:not(.new)
{
	color: #99c947;
}

div.type-Element > div.part-Base:empty + div.operator
{
	display: none;
}

div.type-Element > div.part-Key > div.type-String > div.part-Data:after { content: none; }
div.type-Element > div.part-Key > div.type-String > div.operator { display: none; }

/* Module */
div.type-Module:not(.new)
{
	color: #bcb6f3;
}

div.type-Module > div > div.type-Group > div.operator { display: none; }
div.type-Module > div > div.type-Group:after { display: none; }

div.type-Module,
div.type-Module > div,
div.type-Module > div.part > div
{
	display: block;
}
div.type-Module > div.part-Top > div.type-Group > div.part > div
{
	margin-left: 0;
}

/* Group */
div.type-Group:not(.new)
{
	/*color: #bababa;*/
}

div.frame,
div.type-Group > div.part-Statements.flag-vertical > div
{ 
	padding-left: 64px;
	text-indent: -64px;
}

div.type-Group > div.part-Statements > div > div:after { content: ";"; }

div.type-Group > div.part-Statements > div > div.type-Group:after { content: "};"; }

div.type-Group:after
{
	content: "}";
	margin-left: -64px;
}

div.type-Group.flag-ellipsized:before
{
	content: "{\A...\A";
}

/* Assignment */
div.type-Assignment > div.operator
{
	padding: 0px 12px;
}

/* Function */

/* Visualize structure mode */
body:not(.flag-visualizestructure) div.tag { display: none !important; }

.flag-visualizestructure div.part.flag-focused,
.flag-visualizestructure div.type.flag-focused
{
	border: 1px solid black;
}

.flag-visualizestructure div.tag { display: visible; }

.flag-visualizestructure div.type
{
	border: 1px solid #bababa;
	margin: 2px;
	padding: 2px;
}

.flag-visualizestructure div.part
{
	border: 1px solid #cccccc;
	margin: 2px;
	padding: 2px;
}

