* { margin: 0; padding: 0; visibility: visible; }

body { font-size: 16px; font-family: monospace !important; white-space: pre !important; padding: 6px 4px; }

div
{
	text-align: left;
	display: inline-block; 
	text-indent: 0;
}

div.type
{
	display: inline;
}

div.part
{
	display: inline;
}

div.flag-focused
{
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
	margin-top: -4px;
	margin-bottom: -4px;
}

.tag
{
	display: inline-block;
	font-size: 0.6em;
}

div.part.flag-vertical
{
	display: block;
}

div.part.flag-vertical > div,
div.flag-vertical > div.part
{
	display: block;
}

/* Cursor */
div.type-cursor
{
	display: inline-block;
	width: 1em;
	text-align: center;
	overflow: visible;
	padding: 0;
	margin-left: -0.45em;
	margin-right: -0.55em;
}

/* Element */
div.type-Element > div.part-Key > div.type-String > div.part-Data > div.affix-inner,

/* Module */
div.type-Module > div > div.type-Group > div.affix-outer
{
	display: none;
}

div.type-Module,
div.type-Module > div,
div.type-Module > div.part > div
{
	display: block;
}
div.type-Module > div.part-Top > div.type-Group > div.part > div
{
	margin-left: 0;
}

/* Group */
div.type-Group > div.part-Statements.flag-vertical > div
{ 
	margin-left: 64px;
	padding-left: 64px;
	text-indent: -64px;
}

/* Assignment */
div.type-Assignment > div.affix-outer:not(:empty)
{
	padding: 0px 12px;
}

/* Visualize structure mode */
body:not(.flag-visualizestructure) div.tag { display: none !important; }

.flag-visualizestructure div.tag { display: visible; }

.flag-visualizestructure div.type
{
	border: 1px solid LightSteelBlue;
	margin: 2px;
	padding: 2px;
}

.flag-visualizestructure div.part
{
	border: 1px solid Lavender;
	margin: 2px;
	padding: 2px;
}

